body {text-align:center;
font-family: Helvetica;}
h1{font-family: Helvetica;
font-size: 70px;
font-weight: bold;
color:white;}

h2{font-size: 32px}
h3{font-size: 23px}
h4{font-size: 23 px;
  color:white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  }

.banner
{background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
.nav
{color: white;
font-size: 18px;}
