body {text-align:center;
font-family: Helvetica;}
h1{font-family: Helvetica;
font-size: 70px;
font-weight: bold;
color:white;}

h2{font-size: 32px}
h3 h4 h5 {font-size: 23px}

.banner
{background-image src (C:\Users\Home\aklishy.github.io\broadway\resources\images\the-flatiron-building.png);
}
.nav
{color: white;
font-size: 18px;}
